<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.opendbt.temp.mapper.TCheckFieldTempMapper">

    <resultMap id="BaseResultMap" type="com.highgo.opendbt.temp.domain.entity.TCheckFieldTemp">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sceneFieldId" column="scene_field_id" jdbcType="BIGINT"/>
            <result property="checkStatus" column="check_status" jdbcType="VARCHAR"/>
            <result property="sortNum" column="sort_num" jdbcType="INTEGER"/>
            <result property="fieldType" column="field_type" jdbcType="VARCHAR"/>
            <result property="fieldLength" column="field_length" jdbcType="INTEGER"/>
            <result property="fieldDefault" column="field_default" jdbcType="VARCHAR"/>
            <result property="fieldNonNull" column="field_non_null" jdbcType="BOOLEAN"/>
            <result property="fieldComment" column="field_comment" jdbcType="VARCHAR"/>
            <result property="fieldName" column="field_name" jdbcType="VARCHAR"/>
            <result property="autoIncrement" column="auto_increment" jdbcType="BOOLEAN"/>
            <result property="decimalNum" column="decimal_num" jdbcType="INTEGER"/>
            <result property="primaryKey" column="primary_key" jdbcType="BOOLEAN"/>
            <result property="tableName" column="table_name" jdbcType="VARCHAR"/>
            <result property="exerciseId" column="exercise_id" jdbcType="BIGINT"/>
            <result property="sceneDetailId" column="scene_detail_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,scene_field_id,check_status,
        sort_num,field_type,field_length,
        field_default,field_non_null,field_comment,
        field_name,auto_increment,decimal_num,
        primary_key,table_name,exercise_id,
        scene_detail_id
    </sql>
</mapper>
