<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highgo.opendbt.experiment.mapper.TExperimentMapper">

    <resultMap id="BaseResultMap" type="com.highgo.opendbt.experiment.domain.TExperiment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="experimentName" column="experiment_name" jdbcType="VARCHAR"/>
            <result property="imagePort" column="image_port" jdbcType="VARCHAR"/>
            <result property="imageId" column="image_id" jdbcType="INTEGER"/>
            <result property="imageName" column="image_name" jdbcType="VARCHAR"/>
            <result property="containerPort" column="container_port" jdbcType="VARCHAR"/>
            <result property="releaseStatus" column="release_status" jdbcType="BOOLEAN"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="createUser" column="create_user" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="INTEGER"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
            <result property="deleteTime" column="delete_time" jdbcType="TIMESTAMP"/>
            <result property="deleteUser" column="delete_user" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,experiment_name,image_port,
        image_id,image_name,container_port,
        release_status,course_id,create_user,
        create_time,update_time,update_user,
        delete_flag,delete_time,delete_user
    </sql>

  <select id="getExperimentInfo" resultType="com.highgo.opendbt.experiment.model.ExperimentInfo">
  select  a.id,a.experiment_name,c.image_port,
          a.image_id,c.image_name,d.container_port,d.container_id,
          a.release_status,a.course_id,a.create_user,
          a.create_time,a.update_time,a.update_user,
          a.delete_flag,a.delete_time,a.delete_user,
          b.experiment_content
          from t_experiment a
          left join t_experiment_documents b
          on a.id=b.experiment_id
          left join  t_images c
          on a.image_id=c.id
          left join  t_containers d
          on a.image_id=d.image_id and d.code=#{code}
          where a.id=#{id}
  </select>

  <select id="listExperiment" resultMap="BaseResultMap">
  select  a.id,a.experiment_name,b.image_port,
          a.image_id,b.image_name,
          a.release_status,a.course_id,a.create_user,
          a.create_time,a.update_time,a.update_user,
          a.delete_flag,a.delete_time,a.delete_user
          from t_experiment a
          left join  t_images b
          on a.image_id=b.id
          where a.course_id=#{courseId}
          <if test="experimentName!=null and experimentName!=''">
            and experiment_name like '%${experimentName}%'
          </if>

  </select>
</mapper>
